.section-header {
  h2.section-heading {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
  }
  h2.section-heading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 60px;
    height: 4px;
    background: $primary;
    transform: translate(0, -14px);
      }
  h3.section-subheading {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: none;
    @include serif-font;
  }
}

@media screen and (min-width:700px) {
  .section-header {
    h2.section-heading {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 15px;
      position: relative;
    }
    h2.section-heading::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100px;
      height: 6px;
      background: $primary;
      transform: translate(0, -14px);
        }
    h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
      @include serif-font;
    }
  }
}
